/book/mlr3book.Rmd
/book/mlr3book_files
/book/_book
/book/*_cache
/book/*_files
/book/packages.bib
/book/*.tex
/book/*.html
/book/*.rmarkdown
/book/*.md
/book/*.log
/book/*.rds
/book/site_libs
/renv/*
/book/_freeze/**/*.pdf
.Rproj.user
.Rhistory
.Rprofile
.DS_store
.vscode
.Rprofile
/renv/*
