/bookdown/_book
/bookdown/_bookdown_files
/bookdown/mlr3book.Rmd
/bookdown/mlr3book_files
/bookdown/*_cache
/bookdown/packages.bib
/bookdown/*.tex
/bookdown/*.md
/bookdown/*.log
/bookdown/*.rds
.Rproj.user
.Rhistory
.DS_store
.vscode
