/*-- scss:defaults --*/

// $link-color:    red;

$code-color:    #212529;

code {
        color: #68abee !important;
    }

a {
        color: #68abee !important;
}

// nav p code:not(.sourceCode), nav li code:not(.sourceCode) {
//         color: #03638e !important;
//     }

