@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Libre+Baskerville&display=swap');

.book.font-family-1 { font-family: 'Roboto', Arial, sans-serif; }
.book.font-family-0 { font-family: 'Libre Baskerville', Times, serif; }

/* monospace font */
.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: Roboto Mono, Courier, monospace;
}
