@import url('https://fonts.googleapis.com/css?family=Source Code Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.book.font-family-0 {font-family: Montserrat, sans-serif;}
.book.font-family-1 {font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans;}

/* sidebar width*/
.book .book-summary{left:-400px;width:400px;}.book .book-body .page-wrapper .page-inner{max-width:700px;}@media (min-width: 600px) {.book.with-summary .book-header.fixed {left: 400px;}.book.with-summary .book-body{left:400px}}@media (max-width: 600px) {.book.with-summary .book-header.fixed {min-width: 400px;}.book.with-summary .book-body {min-width: 400px;}}

/* line height */
.book .book-body .page-wrapper .page-inner section.normal {line-height: 1.5em;}

/* monospace font */
.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: Source Code Pro, Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 850px !important;
}

/*
Background of code block
.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #2B303B;;
}
*/

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.caution, .important, .note, .tip, .warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.caution {
  background-image: url("images/caution.png");
}

.important {
  background-image: url("images/important.png");
}

.note {
  background-image: url("images/note.png");
}

.tip {
  background-image: url("images/tip.png");
}

.warning {
  background-image: url("images/warning.png");
}
