@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro|Libre+Baskerville&display=swap');

.book.font-family-1 {font-family: 'Roboto', Arial, sans-serif;}
.book.font-family-0 {font-family: 'Libre Baskerville', Times, serif;}

/* sidebar width*/
.book .book-summary{left:-400px;width:400px;}.book .book-body .page-wrapper .page-inner{max-width:700px;}@media (min-width: 600px) {.book.with-summary .book-header.fixed {left: 400px;}.book.with-summary .book-body{left:400px}}@media (max-width: 600px) {.book.with-summary .book-header.fixed {min-width: 400px;}.book.with-summary .book-body {min-width: 400px;}}

/* monospace font */
.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: 'Source Code Pro', Courier, monospace;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 850px !important;
}

/*
Background of code block
.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #2B303B;;
}
*/

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.important, .note, .tip, .warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  position: relative; /* see https://stackoverflow.com/a/5209833/4185785, needed for correct positioning of child div*/
}

/* custom Font Awesome icons: https://stackoverflow.com/a/14736642/4185785 */

.important {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 95%;
}

.note {
  content: "\f249";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 95%;
}

.tip {
  content: "\f0eb";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 95%;
}


.warning:before {
  content: "\f256";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 95%;
 }
