.important, .note, .tip, .warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  position: relative; /* see https://stackoverflow.com/a/5209833/4185785, needed for correct positioning of child div*/
}
