project:
  type: book

book:
  title: "mlr3 book"
  author:
    - Marc Becker
    - Martin Binder
    - Bernd Bischl
    - Natalie Foss
    - Lars Kotthoff
    - Michel Lang
    - Florian Pfisterer
    - Nicholas G. Reich
    - Jakob Richter
    - Patrick Schratz
    - Raphael Sonabend
    - Damir Pulatovoo
  repo-url: https://github.com/mlr-org/mlr3book/blob/main/bookdown
  repo-actions: [edit, issue, source]
  cover-image: "block.png"
  comments:
    hypothesis: true
  downloads: [pdf]
  sidebar:
    style: "floating"
    collapse-level: 1
    border: true
    search: true
  page-footer:
    center: "Main website: [https://mlr-org.com](https://mlr-org.com)"
    right: Written with <i class="bi bi-heart-fill"></i> for \#rstats, ML and FOSS by the mlr-org team.
    background: "#f8f9fa"
  chapters:
    - index.qmd
    - 01-intro.qmd
    - part: 02-basics.qmd
      chapters:
        - 02-basics-R6.qmd
        - 02-basics-tasks.qmd
        - 02-basics-learners.qmd
        - 02-basics-train-predict.qmd
    - part: 03-perf.qmd
      chapters:
        - 03-perf-binary.qmd
        - 03-perf-resampling.qmd
        - 03-perf-benchmarking.qmd
        - 04-optimization.qmd
        - 04-optimization-tuning.qmd
        - 04-optimization-searchspace.qmd
        - 04-optimization-nested-resampling.qmd
        - 04-optimization-hyperband.qmd
        - 04-optimization-feature-selection.qmd
    - part: 05-pipelines.qmd
      chapters:
        - 05-pipelines-pipeops.qmd
        - 05-pipelines-pipe-operator.qmd
        - 05-pipelines-nodes-edges-graphs.qmd
        - 05-pipelines-modeling.qmd
        - 05-pipelines-non-linear.qmd
        - 05-pipelines-special-pipeops.qmd
        - 05-pipelines-in-depth.qmd
    - part: 06-technical.qmd
      chapters:
        - 06-technical-parallelization.qmd
        - 06-technical-error-handling.qmd
        - 06-technical-databases.qmd
        - 06-technical-paradox.qmd
        - 06-technical-logging.qmd
    - part: 07-extending.qmd
      chapters:
        - 07-extending-learners.qmd
        - 07-extending-measures.qmd
        - 07-extending-pipeops.qmd
        - 07-extending-tuner.qmd
    - part: 08-special.qmd
      chapters:
        - 08-special-survival.qmd
        - 08-special-density.qmd
        - 08-special-spatiotemp.qmd
        - 08-special-ordinal.qmd
        - 08-special-fda.qmd
        - 08-special-multilabel.qmd
        - 08-special-costsens.qmd
        - 08-special-cluster.qmd
    - part: 09-interpretation.qmd
      chapters:
        - 09-interpretation-iml.qmd
        - 09-interpretation-dalex.qmd
    - part: 99-references.qmd
  appendices:
    - 97-appendix.qmd
    - 97-appendix-comparison.qmd
    - 98-citation.qmd

bibliography: book.bib

format:
  html:
    theme:
      light: [default, custom.scss]
    linkcolor: "#03638E"
    fontsize: "15px"
    mainfont: "Roboto"
    monofont: "JetBrains Mono"
    smooth-scroll: true
    code-link: true
    code-tools:
      toggle: true
      code-fold: false
    highlight-style: printing
    code-block-bg: true
  # see https://pandoc.org/MANUAL.html for all options
  pdf:
    documentclass: book
    lof: true
    lot: true
    toc: true
    # classoption: [onecolumn]
    geometry:
      - top=30mm
      - left=20mm
      - heightrounded
    hyperrefoptions:
      - linktoc=all
    colorlinks: true
    linkcolor: "blue"
    biblio-style: apalike
    keep-tex: true

latex-auto-install: true

knitr:
  opts_chunk:
    R.options:
      knitr.graphics.auto_pdf: true
