project:
  type: book

book:
  title: "Flexible and Robust Machine Learning Using mlr3 in R"
  repo-url: https://github.com/mlr-org/mlr3book
  repo-actions: [edit, issue, source]
  repo-subdir: book
  favicon: favicon.ico
  cover-image: Figures/logo.png
  comments:
    hypothesis: true
  downloads: [pdf]
  sidebar:
    style: "floating"
    collapse-level: 1
    border: true
    search: true
  page-footer:
    left: |
      All content licensed under [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/).
    center: "[Website](https://mlr-org.com) | [GitHub](https://github.com/mlr-org/mlr3book) | [Gallery](https://mlr-org.com/gallery) | [Mattermost](https://lmmisld-lmu-stats-slds.srv.mwn.de/mlr_invite/)"
    right: Bischl et al. 2023. "Flexible and Robust Machine Learning Using mlr3 in R".
    background: "#f8f9fa"
  chapters:
    - index.qmd
    - intro.qmd
    - basics.qmd
    - performance.qmd
    - optimization.qmd
    - feature-selection.qmd
    - pipelines.qmd
    # # - preprocessing.qmd
    - special.qmd
    - technical.qmd
    - interpretation.qmd
    # - extending.qmd
  appendices:
    - solutions.qmd
    - citation.qmd
    - tasks.qmd
    - overview-tables.qmd
    - session.qmd
    - text: "---"
    - references.qmd

bibliography: book.bib

format:
  html:
    theme:
      light: [default, custom.scss]
    fontsize: "15px"
    linestretch: 1.6
    mainfont: "Roboto"
    monofont: "JetBrains Mono"
    monobackgroundcolor: "rgba(192, 192, 192, 0.2)"
    smooth-scroll: true
    toc-depth: 3
    code-link: true
    code-tools:
      toggle: true
    code-fold: false
    highlight-style: printing
    code-block-bg: true
    code-overflow: wrap
    reference-location: margin

  # see https://pandoc.org/MANUAL.html for all options
  pdf:
    documentclass: krantz
    classoption: krantz2
    lof: false
    lot: false
    toc: false
    toc-depth: 2
    fig-cap-location: bottom
    tbl-cap-location: bottom
    urlcolor: "blue"
    linkcolor: "black"
    biblio-style: apalike
    keep-tex: true
    code-block-bg: true
    code-overflow: wrap
    code-line-numbers: true
    include-in-header:
      text: |
        \usepackage{makeidx}
        \makeindex
    include-after-body:
      text: |
        \printindex

latex-auto-install: true

knitr:
  opts_chunk:
    cache: true
    cache.lazy: false
    R.options:
      knitr.graphics.auto_pdf: true
    attr.source: ".numberLines"
