project:
  type: book

book:
  title: "mlr3book"
  author:
    - Marc Becker
    - Martin Binder
    - Bernd Bischl
    - Natalie Foss
    - Lars Kotthoff
    - Michel Lang
    - Florian Pfisterer
    - Nicholas G. Reich
    - Jakob Richter
    - Patrick Schratz
    - Raphael Sonabend
    - Damir Pulatov
  repo-url: https://github.com/mlr-org/mlr3book
  repo-actions: [edit, issue, source]
  repo-subdir: book
  favicon: favicon.ico
  comments:
    hypothesis: true
  downloads: [pdf]
  sidebar:
    style: "floating"
    collapse-level: 1
    border: true
    search: true
  page-footer:
    center: "[Website](https://mlr-org.com) | [GitHub](https://github.com/mlr-org/mlr3book) | [Gallery](https://mlr-org.com/gallery) | [Mattermost](https://lmmisld-lmu-stats-slds.srv.mwn.de/mlr_invite/)"
    right: Written with <i class="bi bi-heart-fill"></i> for \#rstats, ML and FOSS by the mlr-org team.
    background: "#f8f9fa"
  chapters:
    - index.qmd
    - intro.qmd
    - basics.qmd
    - performance.qmd
    - optimization.qmd
    - pipelines.qmd
    - technical.qmd
    - extending.qmd
    - special.qmd
    - interpretation.qmd
    - text: "---"
    - references.qmd
  appendices:
    - overview-tables.qmd
    - citation.qmd

bibliography: book.bib

format:
  html:
    theme:
      light: [default, custom.scss]
    linkcolor: "#03638E"
    fontsize: "15px"
    linestretch: 1.6
    mainfont: "Roboto"
    monofont: "JetBrains Mono"
    smooth-scroll: true
    toc-depth: 4
    code-link: true
    code-tools:
      toggle: true
      code-fold: false
    highlight-style: printing
    code-block-bg: true
  # see https://pandoc.org/MANUAL.html for all options
  pdf:
    documentclass: book
    lof: true
    lot: true
    toc: true
    # classoption: [onecolumn]
    geometry:
      - top=30mm
      - left=20mm
      - heightrounded
    hyperrefoptions:
      - linktoc=all
    colorlinks: true
    linkcolor: "blue"
    biblio-style: apalike
    keep-tex: true

latex-auto-install: true

knitr:
  opts_chunk:
    cache: true
    cache.lazy: false
    R.options:
      knitr.graphics.auto_pdf: true
