on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: build-book

jobs:
  build-book:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2

      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Cache R packages
        uses: pat-s/always-upload-cache@v3
        with:
          path: ~/.cache/R/renv
          key: ${{ runner.os }}-lock-${{ hashFiles('book/renv.lock') }}
          restore-keys: ${{ runner.os }}-lock-

      - name: Install System Dependencies
        uses: mlr-org/actions/renv-system-dependencies@v1
        with:
          path: 'book/renv.lock'

      - name: Restore renv environment
        run: |
          cd book
          R -q -e 'options(Ncpus = 2); install.packages("renv", repos = "cloud.r-project.org"); renv::restore()'

      - name: Render book
        run: quarto render book/

      - name: Add .lycheeignore
        run: cp .lycheeignore book/_book/.lycheeignore
